<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
</head>
<body>

<div id="add-product">
    <form>
        <input id="product-Id" name="Id" type="text" placeholder="Id" readonly>
        <input id="product-name" name="Name" type="text" placeholder="Name" required>
        <input id="product-category" name="Category" type="text" placeholder="Category" required>
        <input id="product-price" name="Price" type="text" placeholder="Price" required>
    </form>
    <button type="submit" id="create-product-btn" onclick="update()"> Create Product </button>
</div>

    <script src="../cdn/scripts/edit.js"></script>
</body>
</html>