<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../cdn/styles/style.css" rel="stylesheet" />
</head>
<body>


<div class="heading">
    <div class="panel-title text-center">
        <h1 class="title"> Update Product </h1>
        <a href="/"> Go back to list </a>
        <hr />
    </div>
</div>

<div id="read-product" class="bs-example">
    <form>
        <div class="form-group">
            <label for="product-Id" class="col-sm-2 col-form-label"> Id: </label>
            <input id="product-Id" name="Id" type="text" placeholder="Id" readonly>
        </div>
        <div class="form-group">
            <label for="product-name" class="col-sm-2 col-form-label"> Name: </label>
            <input id="product-name" name="Name" type="text" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="product-category" class="col-sm-2 col-form-label"> Category: </label>
            <input id="product-category" name="Category" type="text" placeholder="Category" required>
        </div>
        <div class="form-group">
            <label for="product-price" class="col-sm-2 col-form-label"> Price: </label>
            <input id="product-price" name="Price" type="text" placeholder="Price" required>
        </div>
    </form>
        <button type="submit" id="create-product-btn" onclick="update()"> Save </button>
</div>

    <script src="../cdn/scripts/edit.js"></script>
</body>
</html>