<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Gendac API Assesment</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet" />
  <link href="../cdn/styles/style.css" rel="stylesheet" />

</head>
<body>

  <div id="root"></div>

  <div id="add-product">
    <form>
      <input id="product-name" name="Name" type="text" placeholder="Name" required>
      <input id="product-category" name="Category" type="text" placeholder="Category" required>
      <input id="product-price" name="Price" type="text" placeholder="Price" required>
    </form>
      <button type="submit" id="create-product-btn" > Create Product </button>
  </div>

  <button type="" id="delete-product-btn" > Delete Product </button>


  <div id="title">
    <h1> Product List </h1>
  </div>

  <button id="display-list-btn" > Display Product List </button>
  <div id="product-list-container">
      <ol id="product-list">

      </ol>
  </div>

  <div class="heading">
    <div class="panel-title text-center">
      <h1 class="title"> Product List</h1>
      <hr />
    </div>
  </div>
  <table class="table table-hover" id="content-table">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
  </table>

  <!-- Trigger/Open The Modal -->
  <button id="myBtn">Open Modal</button>

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Some text in the Modal..</p>
    </div>
  </div>

  <script src="../cdn/scripts/scripts.js"></script>

</body>
</html>